<h1>Create a new Discount</h1>
<%= form_tag "/merchant/discounts" do %>
  <%= label_tag "Decription of Discount - this is visible in a users shopping cart: " %>
  <%= text_field_tag :description %>

  <%= label_tag "Quantity of items that will flag the minimum required: " %>
  <%= text_field_tag :quantity %>

  <%= label_tag "Percent off: " %>
  <%= number_field_tag :percent %>

  <%= submit_tag 'Submit this Discount', class: :button %>
<% end %>
